service: serverless-document-management-api

build:
  esbuild: false

plugins:
  - serverless-esbuild
  - serverless-dynamodb-local
  - serverless-dotenv-plugin
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  stage: dev
  region: eu-west-1
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    DOCUMENT_TABLE: document_table
    USER_TABLE: user_table
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:PutItem"
            - "dynamodb:GetItem"
            - "dynamodb:Query"
            - "dynamodb:Scan"
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.DOCUMENT_TABLE}
            - arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.USER_TABLE}

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    outputFileExtension: ".cjs"
    exclude:
      - aws-sdk
    target: node22
    platform: node
  dynamodb:
    stages:
      - dev
    start:
      port: 5000
      inMemory: true
      migrate: true

functions:
  verifyToken:
    handler: src/actions/index.verifyToken
  signUp:
    handler: src/actions/index.signUp
    events:
      - http:
          path: signup
          method: post
          cors: true

resources:
  Resources:
    documentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:provider.environment.DOCUMENT_TABLE}
        BillingMode: PAY_PER_REQUEST